@import './Varibles.css';

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style: none;
}

.footer {
  background-color: #5841d8;
  padding: 30px 0;
  height: 170px;
  bottom: 0;
  width: 100%;
}

.footerCol {
  width: 25%;
  padding: 0 15px;
}

.footerCol h3 {
  color: #ffffff;
  font-size: 1.5rem;
}

.footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 10px 0;
}

.footer-col h3,
.footer-col ul {
  padding-left: 50px;
}

.footer-col h3 {
  padding-left: 15px;
}

.footer a:hover {
  color: #f47820;
  font-weight: 100;
  font-size: 1.2rem;
}

/* .footer h3:hover {
  color: #392a91;
} */