@import './Varibles.css';

.footer {
  background-color: whitesmoke;
  padding: 30px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: black;
  margin: 10px 0;
}
.footer-col h3,
.footer-col ul {
  padding-left: 50px;
}
.footer-col h3 {
  padding-left: 15px;
}

.footer a:hover {
  color: #f47820;
  font-weight: 100;
  font-size: 2rem;
}

.footer h3:hover {
  color: #f47820;
}
