.habitsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.habitsText{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    margin: 3.5rem;
}

.selectContainer {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    /* border: 1px solid rgb(209, 91, 91); */
}

/* .filterText{
    display: flex;
    align-self: flex-start;
    margin-left: 20%;
} */

.habitsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    min-width: 60%;
    max-width: 90%;
}

label {
    margin-right: 0.5rem;
}

.habit {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    color: rgb(68, 67, 67);
    flex-direction: row;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.437);
    background: #fff;
    box-shadow: 0px 10px 19px -3px rgba(0,0,0,0.1);
}

